@model OfficePass.Areas.Adminka.Models.EditUserViewModel
@{
    ViewData["Title"] = "Пользователи";
}

<style>
    table {
        width: 100%; /* Ширина таблицы */
    }

    td {
        padding: 20px; /* Поля в ячейках */
        vertical-align: top; /* Выравнивание по верхнему краю ячеек */
    }
</style>
<span style="color:red">@ViewData["Error"]</span>
<h1 class="header-text-top">Редактирование пользователя</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form">
            <form method="post" asp-route-UserProfileId="@Model.UserProfileId" asp-area="Adminka" asp-action="EditUser" asp-controller="User">
                <div asp-validation-summary="All"></div>
                <table>
                    <tr style="vertical-align:top">
                        <td>
                            <p>
                                <label asp-for="Login"></label><br />
                                <input asp-for="Login" readonly placeholder="" />
                            </p>
                            <p>
                                <label asp-for="Password"></label><br />
                                <input asp-for="Password" placeholder="" value="" />
                            </p>
                            <p>
                                <label asp-for="ConfirmPassword"></label><br />
                                <input asp-for="ConfirmPassword" />
                            </p>
                        </td>
                        <td style="vertical-align:top">
                            <p>
                                <label asp-for="Lastname"></label><br />
                                <input asp-for="Lastname" placeholder="" />
                            </p>
                            <p>
                                <label asp-for="Firstname"></label><br />
                                <input asp-for="Firstname" placeholder="" />
                            </p>
                            <p>
                                <label asp-for="Surname"></label><br />
                                <input asp-for="Surname" placeholder="" />
                            </p>
                        </td>
                        <td>
                            <p>
                                <label asp-for="GroupId"></label><br />
                                @if (Model.GroupId == 0)
                                {
                                    <select asp-for="GroupId" asp-items="@ViewBag.SelectItemsGroups">
                                        <option selected=""></option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="GroupId" asp-items="@ViewBag.SelectItemsGroups"></select>
                                }
                            </p>
                            <p>
                                <label asp-for="SpecializationId"></label><br />
                                @if (Model.SpecializationId == 0)
                                {
                                    <select asp-for="SpecializationId" asp-items="@ViewBag.SelectItemsSpecializations">
                                        <option selected=""></option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="SpecializationId" asp-items="@ViewBag.SelectItemsSpecialization"></select>
                                }
                            </p>
                            <p>
                                <label asp-for="RoleId"></label><br />
                                @if (Model.RoleId == 0)
                                {
                                    <select asp-for="RoleId" asp-items="ViewBag.SelectItemsRole">
                                        <option selected=""></option>
                                    </select>
                                }
                                else
                                {
                                    <select asp-for="RoleId" asp-items="ViewBag.SelectItemsRole"></select>
                                }
                            </p>
                            <p>
                                <input type="checkbox" asp-for="IsBoss" value="true" checked="@Model.IsBoss" id="first"><label for="first" style="margin-left:5px">Является руководителем</label><br />
                            </p>
                        </td>
                    </tr>
                </table>
                
                <p style="padding: 20px">
                    <input type="submit" value="Сохранить" />
                    <input type='button' asp-area="Adminka" value='Отменить' onclick='window.location = "@Url.Action("Index","User") ";' />
                </p>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}