@model IEnumerable<OfficePass.Areas.Adminka.Models.UserViewModel>

@{
    ViewData["Title"] = "Пользователи";
}


<span style="color:brown">@ViewData["Error"]</span>
<h1 class="header-text-top">Пользователи</h1>
<hr />
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserProfile)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Role.Name)
            </td>
            <td>
                <a asp-action="DetailsModal" asp-route-id="@item.Id" class="userItem">Инфо</a> |
                <a asp-action="EditUser" asp-route-id="@item.Id">Править</a> |
                <a asp-action="DeleteUser" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <input type='button' asp-area="Adminka" value='Создать пользователя' onclick='window.location = "@Url.Action("AddUser","User") ";' />
</div>




@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".userItem").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}
