@model IEnumerable<OfficePass.Domain.Entities.Company>

@{
    ViewData["Title"] = "Компании";
}
<h2>@ViewData["Error"]</h2>
<h1 class="header-text-top">Компании</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
             <td>
                <a asp-action="EditCompany" asp-route-id="@item.Id">Править</a> |
                    <a asp-action="DeleteCompany" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <input type='button' value='Добавить компанию' onclick='window.location = "@Url.Action("AddCompany","Company") ";' />
</div>